---
import LogoTreebCard from '../assets/logo-Treebcard.png';
---


<header class=" bg-oscuro flex flex-row justify-between m-0 items-center py-3 px-24 gap-4">
    <a href="index.html" class="logo">
        <img transition:name="{`LogoAnimate`}" src={LogoTreebCard.src} alt="logo Treeb-Card" class="min-w-25" >
    </a>
    <div class="flex gap-6 min-w-80 justify-evenly ">
        <a href="register" class="bg-primario py-4 px-6 text-blanco rounded-3xl hover:bg-primarioOscuro font-bold">Crear Cuenta</a>
        <a href="signin" class="bg-secundario py-4 px-8 text-blanco rounded-3xl hover:bg-secundariLght font-bold">Ingresar</a>
    </div>
</header>

 
