---
import ChicaImg from '../assets/chica.png';
---

<section class="min-w-md flex flex-col items-center md:flex-row">

    <div class="box-chica flex-1 mx-8">
        <img src={ChicaImg.src} alt="" class="">
        <!-- <div class="circules">
            <div class="circulo1 bg-primario"></div>
            <div class="circulo2 bg-secundario"></div>
            <div class="circulo3 bg-primarioOscuro"></div>
            <div class="circulo4 bg-secundariLght"></div>
        </div> -->
    </div>



    <div class=" flex-1 w-items-center ">
        <h1 class="font-bold text-7xl ">Disfruta tu <br> tree-bcard</h1>
    <div class="  bg-primario py-4 px-10 text-blanco rounded-3xl hover:bg-primarioOscuro font-bold text-center my-4 shadow-md md:inline-flex transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110">
         <a href="crearCuenta" class="btn--llamadaAccion">Crea la tuya</a>
    </div>
    </div>


    <style>

    .circulo1 {
        border-radius: 50%;
        width: 350px;
        height: 350px;
        position:absolute;
        top: 150px;
        right: -500px;
        z-index: -1;
        
    }

    .circulo2 {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        position:absolute;
        top: 450px;
        right: 750px;
        z-index: -1;
        
    }

    .circulo3 {
        border-radius: 50%;
        width:200px;
        height: 200px;
        position:absolute;
        top:230px;
        right: 800px;
        z-index: -1;
        
    }

    .circulo4 {
        border-radius: 50%;
        width:200px;
        height: 200px;
        position:absolute;
        top:580px;
        right: 1100px;
        z-index: -1;
        
    }

    </style>

    